<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calculator</h1>
    <a href="{%url 'add'%}">Addition</a><br>
    <a href="{%url 'subtraction'%}">Subtraction</a><br>
    <a href="{%url 'multiplication'%}">Multiplication</a><br>
    <a href="{%url 'division'%}">Division</a><br>
    <a href="{%url 'factorial'%}">Factorial</a><br>
    <a href="{%url 'prime'%}">Prime</a><br>
    <a href="{%url 'palindrome'%}">Palindrome</a><br>
    <a href="{%url 'armstrong'%}">Armstrong</a><br>
    <a href="{%url 'limit'%}">Limit</a><br>
    <a href="{%url 'health'%}">Health</a><br>
    <a href="{%url 'temp'%}">Temparature</a><br>
    <a href="{%url 'exponent'%}">Exponent</a>
    
</body>
</html>